.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 1000;
  border-bottom: 1px solid var(--mantine-color-zinc-7);

  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}

.inner {
  height: 56px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
